.main-nav {
  display: flex;
  justify-content: space-between; 
  padding: 4px 15px 2px;
  align-items: center;

}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-nav > ul > li {
  margin-right: 20px;
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-size: 100% ;
  text-transform: uppercase;
  font-weight: 800;
}

.right-nav > ul > li {
  margin-left: 4px;
  font-family: inherit;
  font-size: 100% ;
  text-transform: uppercase;
}

.right-nav > ul > li:last-of-type {
  margin-left: 10px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {
  margin-right: 15px;
}

.right-nav i {
  font-size: 200%
}